#ticket-purchase {
    display: flex;
    height: 100%;
}

#ticket-purchase-left {
    display: flex;
    flex-direction: column;
    width: 57%;
}

#ticket-purchase-right {
    width: 43%;
    background-color: #eeedf2;
}

#ticket-purchase-head {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 14px 20px;
}

#ticket-purchase-title {
    font-size: 18px;
    color: #39364f;
    font-weight: 400px;
    letter-spacing: 0.5px;
}

#ticket-purchase-time {
    font-size: 12px;
    color: rgb(153, 153, 153);
    font-weight: 400;
}

#ticket-purchase-body {
    height: 360px;
    padding: 26px 22px;
    font-size: 15px;
    color: #39364f;
    line-height: 22px;
}

#ticket-purchase-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    border-top: 1px solid lightgray;
}

.ticket-modal-button {
    width: 30%;
}

#checkout {
    width: 90%;
    height: 40px;
    background-color: #0d8547;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    letter-spacing: 0.6px;
}
#checkout:hover {
    background-color: #179c55;
    cursor: pointer;
}
#checkout:focus {
    outline: none;
}

#sell-ticket {
    width: 90%;
    height: 40px;
    background-color: #eb4141;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    letter-spacing: 0.6px;
}
#sell-ticket:hover {
    // background-color: #f84a4a;
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}
#sell-ticket:focus {
    outline: none;
}

#ticket-purchase-img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 170px;
}

.ticket-purchase-error {
    margin: 10px;
}