.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeedf2;
    height: 59px;
}

#logo-link {
    color: #f05537;
    font-size: 23px;
    font-weight: 650;
    margin: 18px 25px;
    letter-spacing: -0.4px;
    width: 95px;
}

.tilt-e {
    display: inline-block;
    -webkit-transform: rotate(-15deg);
}


#search-icon {
    margin: 22px 10px 22px 25px;
    color: rgb(175, 172, 172);
}

#nav-search {
    width: 90%;
    margin: 18px 5px;
    font-size: 14px;
    border: none;
    color: #39364f;
    letter-spacing: 0.5px;
}

#nav-search::placeholder {
    color: #cecdd6;
}

#nav-link-holder {
    display: flex;
    box-sizing: border-box;
}

.nav-link {
    display: flex;
    width: 60px;
    margin: 20px 10px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #6f7287;
}


#create-event-link {
    display: flex;
    width: 120px;
    padding: 20px 5px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#create-link {
    color: blue;
}