.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeedf2;
    height: 65px;
}

#logo-link {
    color: #f05537;
    font-size: 23px;
    font-weight: 650;
    margin: 18px 25px;
    letter-spacing: -0.4px;
    width: 95px;
}

.tilt-e {
    display: inline-block;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
}

#nav-link-holder {
    display: flex;
    box-sizing: border-box;
}

.nav-link {
    display: flex;
    flex-direction: column;
    width: 80px;
    font-size: 13px;
    padding: 12px 0px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: #6f7287;
    letter-spacing: 0.3px;
}

.nav-link:hover {
    background-color: #f8f7fa;
}

#create-link {
    min-width: 115px;
    color: blue;
}

#tickets-link {
    min-width: 85px;
    color: #39364f;
}

#tickets-link-icon {
    color: #545274;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.link-icon {
    font-size: 18px;
}