.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeedf2;
    height: 59px;
}

#logo-link {
    color: #f05537;
    font-size: 23px;
    font-weight: 650;
    margin: 18px 25px;
    letter-spacing: -0.4px;
    width: 95px;
}

.tilt-e {
    display: inline-block;
    -webkit-transform: rotate(-15deg);
}

#nav-link-holder {
    display: flex;
    box-sizing: border-box;
}

.nav-link {
    display: flex;
    width: 60px;
    margin: 20px 10px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #6f7287;
}

#create-event-link {
    display: flex;
    width: 160px;
    padding: 20px 10px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#create-event-link:hover {
    // background-color: #f8f7fa;
}

#create-link {
    color: blue;
}