#search-icon {
    margin: 22px 10px 22px 25px;
    color: rgb(175, 172, 172);
}

#nav-search {
    width: 90%;
    font-size: 14px;
    border: none;
    color: #39364f;
    letter-spacing: 0.5px;
}

#searchbar {
    width: 100%;
    margin: 19.5px 5px;
    font-size: 14px;
    border: none;
    color: #39364f;
    letter-spacing: 0.5px;
}

#searchbar::placeholder {
    color: #cecdd6;
}

.search-results-container {
    position: relative;
    left: -33px;
    top: 2px;
    z-index: 1;
    width: 90%;
    background-color: white;
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px 2px rgba(158, 158, 158, 0.568);
}

.search-results-title {
    height: 40px;
    padding: 20px 20px;
    color: #39364f;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.search-event {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px 20px;
    color: black;
    letter-spacing: 0.5px;
}

.search-event:hover {
    background-color: #f8f7fa;
}

.search-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 20px;
}
