.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(31, 27, 51, 0.85);
  z-index: 10;
}

.modal-child {
  width: 730px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}