.footer {
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e0a3c;
    color: white;
}

.personal-links-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.personal-link {
    width: 38px;
}