.footer {
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e0a3c;
    color: white;
}

#github {
    width: 34px;
    margin-right: 20px;
}

#linkedin {
    position: relative;
    top: 2px;
    width: 38px;
}