#splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#splash {
    overflow: hidden;
    width: 100%;
}

#splash-bg-image {
    background-image: url("https://eventlite-fsp-dev.s3-us-west-1.amazonaws.com/concert.jpg");
    min-height: 580px;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin: -5px -10px;
}

#splash-main {
    position: absolute;
    width: 70%;
    height: 580px;
    object-fit: contain;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}

#splash-image {
    margin-top: -50px;
    width: 100%;
    min-height: 580px;
    object-fit: cover;
}

.splash-text {
    position: absolute;
    display: block;
    top: 36%;
    left: 6%;
    height: 180px;
}

#made-for {
    font-size: 34px;
    color: white;
    font-weight: 700;
    opacity: 0.8;
}

#those-who {
    margin-top: 8px;
    font-size: 58px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.browse-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    width: 180px;
    height: 48px;
    border-radius: 50px;
    border: none;
    background-color: #f05537;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: white;
}
.browse-button:hover {
    cursor: pointer;
}
.browse-button:focus {
    outline: none;
}

.searchbox-arrow {
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

.searchbox-arrow:hover {
    cursor: pointer;
}

#splash-body {
    display: flex;
    margin-top: 50px;
    width: 67%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}