#splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash {
    overflow: hidden;
    width: 100%;
}

#splash-bg-image {
    background-image: url("/assets/concert.jpg");
    min-height: 580px;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin: -5px -10px;
}

#splash-main {
    position: absolute;
    width: 65%;
    height: 580px;
    object-fit: contain;
    top: 10%;
    left: 12%;
    overflow: hidden;
}

#splash-image {
    margin-top: -50px;
    width: 100%;
    min-height: 580px;
    object-fit: cover;
}

#made-for {
    position: absolute;
    display: block;
    top: 38%;
    left: 6%;
    font-size: 24px;
    color: white;
    font-weight: 700;
    opacity: 0.8;
}

#those-who {
    position: absolute;
    display: block;
    top: 44%;
    left: 6%;
    font-size: 54px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.1px;
}