#event-index-container {
    display: flex;
    margin-top: 100px;
    width: 65%;
    height: 1000px;
    align-items: flex-start;
    justify-content: center;
}

#event-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#event-index-search {
    width: 100%;
    height: 100px;
}