#event-index-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#event-index-search {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

#event-index-search-text {
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#event-index-search-input {
    font-weight: 800;
    font-size: 29px;
    border: none;
    margin-bottom: -6px;
    margin-left: 8px;
    color: #3d64ff;
    border-bottom: 2px solid #dbdae3;
}

#event-index-search-input::placeholder {
    color: #3d64ff;
}

#event-index-search-input:focus::placeholder {
    color: #a4a2ad;
}

.event-indexes-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.event-indexes {
    margin-right: 25px;
    letter-spacing: 1px;
    font-size: 13.5px;
    font-weight: 500;
}
.event-index-navlink {
    color: #6F7287;
    padding-bottom: 5px;
}
.event-index-navlink:hover {
    color: black;
    border-bottom: 2px solid black;
}

.event-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 15px;
}