.event-index-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 24%;
    max-width: 285px;
    min-width: 260px;
    height: 280px;
    box-shadow: 1px 2px 12px rgb(233, 233, 233);
    margin-bottom: 25px;
}

.event-index-item:hover {
    box-shadow: 1px 2px 10px rgb(187, 186, 186);
}

#event-index-img-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event-index-img {
    object-fit: cover;
    width: 100%;
    min-height: 160px;
}

.event-index-item-textbox {
    position: relative;
    margin: 10px 10px 5px 10px;
}

.event-index-item-textbox h4 {
    color: #d1410c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.event-index-item-textbox h3 {
    color: #39364f;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.event-index-item-textbox p {
    color: #6f7287;
    font-size: 14px;
    letter-spacing: 0.5px;
}