#event-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f7fa;
    min-height: 100vh;
}

#event-show-page-footer {
    width: 100%;
    min-height: 500px;
}

#event-show-bg-container {
    overflow: hidden;
    width: 100%;
    max-height: 600px;
}

#event-show-bg {
    margin: -50px -5px 0px -10px;
    width: 110%;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    opacity: 80%;
}

#event-show-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 1100px;
    min-height: 1000px;
    height: 90%;
    background-color: #ffffffc4;
    box-shadow: 1px 1px 10px -5px rgb(218, 217, 217);
    border-radius: 5px;
}

#event-show-head {
    width: 100%;
    display: flex;
    overflow: hidden;
    border-bottom: 1.5px solid rgb(218, 217, 217);
}

#event-show-img {
    width: 67%;
    height: 380px;
    object-fit: cover;
}

#event-show-head-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    padding: 40px 30px 30px 30px;
}

#eshd{
    width: 40px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #39364f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eshdm {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
}

#eshdd {
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 3px;
}

#esht {
    position: relative;
    top: -40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

#esho {
    color: #39364f;
    display: flex;
    justify-content: space-between;
}

#event-show-save {
    display: flex;
    height: 70px;
    border-bottom: 1.5px solid rgb(218, 217, 217);
    background-color: white;
}

#es-likes-container {
    display: flex;
    align-items: center;
    width: 67%;
    height: 100%;
    padding-left: 10px;
}

.tickets-button-container {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tickets-button {
    width: 90%;
    height: 50px;
    background-color: #0d8547;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    letter-spacing: 0.8px;
}
#tickets-button:hover {
    background-color: #179c55;
    cursor: pointer;
}
#tickets-button:focus {
    outline: none;
}

#event-show-content {
    display: flex;
    height: 46%;
    padding-top: 70px;
    background-color: white;
}

#event-show-body {
    width: 67%;
    padding: 0px 70px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#event-show-description {
    letter-spacing: 0.5px;
    line-height: 22px;
}

#event-show-aside {
    width: 33%;
    padding: 0px 50px 0px 30px;
}

.event-show-aside-container {
    margin-bottom: 50px;
}

.event-show-label {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}

.event-show-deets {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

#event-show-footer {
    border-top: 1.5px solid rgb(218, 217, 217);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 40px;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-size: 14px;
}

#edit-event-link {
    font-size: 13px;
    height: 20px;
    padding: 3px 7px;
    border-radius: 2px;
    background-color: gray;
    color: white;
    font-weight: 500;
}
#edit-event-link:hover {
    background-color: darkgray;
}

#event-show-delete-event {
    height: 20px;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 500;
    font-size: 12px;
    color: red;
    filter:brightness(80%);
}
#event-show-delete-event:hover {
    text-decoration: underline;
    filter:brightness(100%);
}

#event-show-delete-event:hover {
    cursor: pointer;
}

#event-show-delete-event:focus {
    outline: none;
}