.signin-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.signin-welcome {
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
}

.signin-message {
    font-size: 14px;
    color: gray;
    font-weight: light;
    margin-top: 28px;
}

.error-message {
    color: #c5162e;
    font-size: 13px;
}

.signin-form-box {
    width: 360px;
}

.signin-input-box {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 1px solid #dbdae3;
    border-radius: 2px;
    padding-top: 5px;
}

.signin-input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 25px;
    padding-left: 11px;
    margin-top: -2px;
    font-size: 14px;
    color: #39364f;
}

.signin-input-names {
    display: flex;
    justify-content: space-between;
}

.signin-input-name {
    width: 170px;
    height: 48px;
    font-size: 15px;
    border: 1px solid #dbdae3;
    border-radius: 2px;
    padding-top: 5px;
}

.signin-input-box:hover, .signin-input-name:hover {
    border: 1px solid rgb(182, 180, 180);
}

input:focus{
    outline: none;
}

.signin-input-text {
    margin: 5px 0px 0px 10px;
    font-size: 12px;
    color: rgb(153, 152, 152);
    height: auto;
    margin-top: 10px;
}

.signin-button {
    width: 100%;
    height: 48px;
    margin-top: 15px;
    align-items: center;
    background-color: #d34511;
    color: white;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 0.25px;
    border-radius: 5px;
    border: rgb(189, 62, 15);
}
.signin-button:hover {
    background-color: #f76029;
    cursor: pointer;
    border: rgb(122, 42, 13);
}
.signin-button:focus {
    outline: none;
}

.below-submit {
    margin-top: 15px;
    font-size: 14px;
}

.below-link {
    text-decoration: none;
    color: blue;
}

.login-icon {
    font-size: 55px;
    margin-top: 45px;
    color: #f6682f;
    height: 44px;
}

#forgot-password {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 85vh;
}

.signin-input-box:focus-within, .signin-input-name:focus-within {
    border: none;
    border: 1px solid rgb(0, 0, 224);
}
.signin-input-box:focus-within .signin-input-text {
    color: rgb(0, 0, 224);
}
.signin-input-name:focus-within .signin-input-text {
    color: rgb(0, 0, 224);
}

#demo-login {
    margin-top: 40px;
    width: 360px;
    height: 48px;
    align-items: center;
    background-color: #146adb;
    color: white;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 0.25px;
    border-radius: 5px;
}
#demo-login:hover {
    background-color: #105bbd;
    cursor: pointer;
}
#demo-login:focus {
    outline: none;
}