#user-show-page {
    display: flex;
    justify-content: center;
}

#user-show {
    width: 1200px;
    height: 100%;
    box-shadow: 2px 2px 8px 2px rgba(212, 211, 211, 0.3);
}

#user-show-head {
    display: flex;
    align-items: center;
    width: 100%;
    height: 270px;
    padding: 90px;
    background-image: linear-gradient(#f6f6f6, white);
}
#user-show-icon {
    width: 44px;
    height: auto;
    color: #f76029;
}
#user-show-name {
    font-size: 28px;
    margin-left: 40px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: -10px;
}
#user-show-lname {
    position: relative;
    left: -2px;
    color: rgb(185, 185, 185);
}

#user-show-body {
    display: flex;
    height: 100%;
}
#user-show-aside {
    width: 34%
}

#user-show-main {
    width: 66%;
    height: 100%;
}

.user-show-label {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 45px;
}

#tickets-index {
    min-height: 350px;
    margin-bottom: 50px;
}

#border-bottom {
    width: 680px;
    border-top: 2px solid lightgray;
    margin-bottom: 30px;
}

#bookmarks-index {
    display: flex;
    flex-wrap: wrap;
    min-height: 350px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.user-show-nothing {
    font-size: 15px;
    letter-spacing: 1px;
    color: #747474;
}